.features {
    position: relative;
    
}
.features::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 145px;
    top: 0;
    right: 20%;
    background-image: url(../src/image2QR.svg);
    background-size: contain;
}

.features__body {
   
    padding: 4rem 0;
}

.features__title {
   margin-bottom: 4rem;
}

.features__heading {
    font-weight: 800;
    font-size: 48px;
}

.features__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.features__item {    
    width: 300px;
    padding: 2rem 2rem 4rem 2rem;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}
.features__item:hover {
    box-shadow: 0px 4px 20px 12px rgba(0, 0, 0, 0.4);

}

.features__item-pretitle {    
    padding: 5px 10px;
    color: #1E40AF;
    background: #DBEAFE;
    margin-bottom: 20px;
    border-radius: 5px;
}


.features__item-title {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 30px;
}

.features__item-details {
    color: #475569;
    font-weight: 400;
    font-size: 22px;
    list-style-type: disc; 
    padding-left: 1.5rem; 
    margin-bottom: 1rem;

}

.features__detail:not(:last-child) {
   margin-bottom: 0.5rem;
}

.features__text {
    /* Шрифт і колір тексту */
}
.violet {
    color: #6B21A8;
    background:  #F3E8FF;
}
.red {
    color: #9D174D;
    background: #FCE7F3;
}
.green {
    color: #166534;
    background: #DCFCE7;
}

@media (max-width: 980px) {
    .features__content {
        justify-content: space-around;
    }

}
