.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.form__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    flex-basis: calc(30% - 10px); /* Два елементи в рядок */
   
}

.form__label::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid #FB923C;
    border-radius: 4px;
    background-color: transparent;
    margin-right: 10px;
    transition: all 0.3s, ease;
}

.form__checkbox {
    display: none; /* Приховуємо стандартний чекбокс */
}

.form__checkbox:checked + .form__text::before {
    background-color: rgba(243, 236, 94, 0.2);
    border-color: #FB923C;
}

.form__checkbox:checked + .form__text::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    border: solid #FB923C;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 4px;
    left: 8px;
}
.form__text {
    white-space: nowrap;
}
