@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Roboto:wght@400;500;700&display=swap');
@import url('./header.css');
@import url('./form_checkbox.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
    line-height: 1;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    min-width: 650px;
    /* font-family: 'Outfit', sans-serif; */
}

img, picture, video, svg {
    display: block;
    max-width: 100%;
}

button, input, select, textarea {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}
h1 {
    visibility: hidden;
    font-size: 1px;
}

.wrapper {
    max-width: 1340px;
    width: 100%;       
    margin: 0 auto;    
    padding: 0 20px;   
   
}
.btn {
    display: flex;
    border: 2px solid #EA580C;
    background-color: #EA580C;
    color: #fff;
    border-radius: 8px;    
    width: fit-content;
    height: fit-content;
    white-space: nowrap;    
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 24px;
    transition: all 0.3s ease 0s;
}
.btn:hover {
    background-color: rgba(234, 88, 12, 0.8);
    border: 2px solid rgba(234, 88, 12, 0);
}
.btn_White {
    border: 2px solid rgba(255, 204, 0, 1);
    background-color: #ffffff;
    color: #000000;
    margin: auto 0;
    transition: all 0.3s ease 0s;
}
.btn_White:hover {
    background-color: rgba(255, 204, 0, 0.5);

}
.logo {
    display: flex;
    padding: 0 1rem;
}

  /*---------main section -----*/
  
  .main {
    padding: 5rem 0;
  }
  .main_body {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
  .main_content_lists {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .main_body_content_title {
    font-family: 'Outfit', sans-serif;
    font-size: 72px;
    font-weight: 600;
  }
  .main_content_list > p {
    font-size: 24px;
    line-height: 36px;
    max-width: 500px;
  } 

  .main_body_content, .main_body_images  {
    flex: 1;
    height: auto;
  }

  .main_body_images {
    min-height: 530px;
    display: flex;
    background-image: url(../src/background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /*-------- howItWorks -----*/

  .howItWorks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;   
    width: 100%;
    min-height: 745px;    
    background: linear-gradient(175.4deg, #FFFFFF 2.52%, #FFFEF9 38.15%, #F3EC5E 72.28%, #FF8C00 121.13%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));    
  }

  .howItWorks_body {
    display: flex;
    flex-direction: column;    
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    height: 500px;       
  }
  .howItWorks_title {
    position: relative;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .howItWorks_title::before {
    position: absolute;
    content: "";
    bottom: -20px;
    right: 0;
    width: 185px;
    height: 25px;
    background: url(../src/iherrit.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .howItWorks_title::after {
    position: absolute;
    content: "";
    right: -110%;
    bottom: -200px;
    width: 385px;
    height: 395px;
    background: url(../src/image1QR.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .howItWorks_body_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .howItWorks_body_content::before {
    position: absolute;
    content: "";
    left: 0;
    top: 100px;
    width: 139px;
    height: 600px;
    background: url(../src/dotsBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .howItWorks_content_Box {
    width: 480px;
    min-height: 200px;
    padding: 4rem 3rem 3rem 3rem;
    margin-top: 5rem;
    height: fit-content;
    background-image: url(../src/Border.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 22px;
  }
  .firsBox {
    position: relative;
    margin-left: 20%;
    margin-bottom: 19%;
  }
  .firsBox::before {
    position: absolute;
    content: "";
    top: -65px;
    left: 45%;
    width: 16px;
    height: 47px;
    background-image: url(../src/1.svg);
  }
  .secondaryBox {
    position: absolute;
    margin-top: 12rem;    
    margin-left: 45%;
    margin-right: 2rem;
    padding: 4.5rem 3rem 3rem 3rem;
    width: 600px;
    min-height: 230px;
    background-image: url(../src/Border2.svg);
  }
  .secondaryBox::before {
    position: absolute;
    content: "";
    top: -65px;
    left: 45%;
    width: 28px;
    height: 47px;
    background-image: url(../src/2.svg);
  }
  .secondaryBox::after {
    width: 225px;
    height: 225px;
    position: absolute;
    content: "";
    top: 0;
    right: -40%;
    background-image: url(../src/image2QR.svg);
    z-index: 10;
  } 

  .howItWorks_body_ections_body {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1400px;
    font-size: 22px;
    z-index: 10;   
  }
  .howItWorks_body_ections_body > li {
    display: flex;
    min-height: 64px;
    min-width: fit-content;
    padding: 0 2rem 0 4rem;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    background-image: url(../src/bell.png);
    background-position: 10px left;
    background-repeat: no-repeat;
  }
  
  .howItWorks_whiteBox {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #fff;
  }

  /*---------- payMethods -----------*/
  .payMethods {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 1400px;
    overflow: hidden;
  }
  .payMethods::before {
    content: "";
    position: absolute;
    right: -250px;
    top: 30%;
    width: 620px;
    height: 620px;
    background-color: #FACC15;
    border-radius: 50%;
    z-index: -1;
  }
    
  .monetizeWiFi_body {    
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 7rem 0;
  }

  /* --img bounce--  */  

  .monetizeWiFi_images {    
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    min-height: 550px;
    display: flex;    
  }
  .monetizeWiFi_images::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    left: 0;
    top: 30%;
    border-radius: 50%;
    background-color: #FEF3C7;
    
  }
  .monetizeWiFi_images::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background-color: #FF8C00;
    bottom: 0;
    left: 20%;
  }
  .monetizeWiFi_images_left,
  .monetizeWiFi_images_right {
    position: relative;
    flex: 1;   
    height: 550px;
  }
  .monetizeWiFi_images_left::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    top: 0;
    left: 30%;
    background-image: url(../src/bg_Left_befor.png);
    background-position: center;
    background-size: cover;
  }
  .monetizeWiFi_images_left::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 242px;
    height: 242px;
    left: 15%;
    top: 42%;
    background-image: url(../src/bg_left_img.jpg);
    background-position: center;
    background-size: cover;

  }
  .monetizeWiFi_images_right::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    background-color: #F8DF6E;
    left: 0;
    bottom: 20%;
  }
  .monetizeWiFi_images_right::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 217px;
    height: 217px;
    left: 0;
    top: 25%;
    background-image: url(../src/BG_wifi_phone.jpg);
    background-position: center;
    background-size: cover;
  }


  .monetizeWiFi_content {
    flex: 1;
    align-content: center;
  }
 
  .monetizeWiFi_pre-title,
  .howMuchCost_pre-title {
    margin-bottom: 0.5rem;
    color:  #D97706;
    font-weight: 500;
    font-size: 20px;
  }
  .monetizeWiFi_title,
  .howMuchCost_title {
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 48px;    
  }
  .monetizeWiFi_Sub-title,
  .howMuchCost_Sub-title {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 22px;
  }
  .monetizeWiFi_Sub-title-disc {
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: 500;
    padding-left: 2rem;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(../src/chekin_icon.svg);
  }

  .howMuchCost {
    flex: 1;

  }
  .howMuchCost_body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  .howMuchCost_price {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 70px;
  }
  .howMuchCost_visual {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .howMuchCost_tagValue,
  .howMuchCost_locationValue {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2rem;
    height: 150px;
    width: 495px;
    background-color: #fff;
    background-image: url(../src/Slider-1.svg);
    background-position: 50% 75%;
    background-repeat: no-repeat;
    border-radius: 30px;    
    box-shadow: 0 0 25px 20px #0000001A;
    font-size: 22px;
    font-weight: 700;
  }
  .howMuchCost_locationValue {
    background-image: url(../src/Slider-2.svg);
  }
  

  .howMuchCost_hint {
    font-size: 20px;
    color:  #D97706;    
  }




  .mobile {
    display: none;
}
@media (max-width: 1530px) {
    .howItWorks_title::after {
        right: -80%;
        bottom: -100px;
    }
    .secondaryBox::after {
        right: -0%;
        top: 120px;
    }
    .howItWorks_whiteBox {
      height: 200px;
      background-color: transparent;
    }
    .howItWorks_body_ections_body { 
      flex-wrap: wrap;
      padding: 0 1rem; 
      top: 30px;   
      gap: 1rem;  
    }
}
@media (max-width: 1100px) {
    .howItWorks_title::after {
        display: none;
    }
    .secondaryBox {
        margin-top: 16rem;    
        margin-left: 35%;        
    }
    .secondaryBox::after {
        right: -0%;
        top: -200px;
    }
    .firsBox {
        margin-left: 10%; 
    }
    .howItWorks_body_ections_body {
        flex-wrap: wrap;
    }
    .howItWorks_title::after {
        display: none;
    }

}
@media (max-width: 980px) {
    body.lock {
      overflow: hidden;
    }
  
    .desc {
        display: none;
    }
    .mobile {
        display: flex;
    }
   
    .header_nav {
        position: absolute;
        right: 10px;
        top: -300%;
        padding: 4rem 4rem 5rem 3rem;
        background-color: #f2e644;
        border-radius: 10px;
        z-index: 2;
        font-size: 22px;
        transition: all 0.3s ease;
    }
    .main_body {
        flex-direction: column;
        padding: 0 2rem;
    }
    .main_content_list:not(:last-child) {        
        display: flex; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
    }
    .howItWorks {
        overflow: hidden;
    }
    .howItWorks_body {
        height: 700px;
    }    
    .firsBox {
        margin-top: 2rem;
        margin-bottom: 9%;
        margin-left: 50%; 
        transform: translate(-50%);
    }
    .secondaryBox {
        position: relative;
        width: 500px;
        margin-top: 1rem;    
        margin-left: 50%;
        transform: translate(-50%);        
    }
    .secondaryBox::after {
        right: -20%;
        top: -150px;
    }
    .howItWorks_whiteBox {
      height: 270px;
      
    }
    .monetizeWiFi_body {
      flex-direction: column;
    }
    .monetizeWiFi_content {
      margin-left: 20px;
    }
    .howMuchCost_body {
      flex-direction: column;
      padding-left: 25px;
      padding-bottom: 4rem;
    }
    .howMuchCost_content > li {
      text-align: center;
    }  
    .howMuchCost_btn  {
      margin-left: 50%;
      transform: translate(-50%);
    } 
    .howMuchCost_visual {
      margin-top: 3rem;
      align-items: center;
    }
}

.navShow {
  top: 10%;
}
