.tools {
    padding: 4rem 0;
    height: fit-content;
}

.tools__body {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;   
}
.tools__content {
    max-width: 560px;
    flex: 0 0 50%;
}

.tools__img {
    flex: 0 0 50%;
    min-width: 600px;    
    height: auto;
    aspect-ratio: 3 / 2;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    background-image: url(../src/backgroundSochiable.webp);
}

@media (max-width: 980px) {
    .tools__body {
        flex-direction: column;
    }
    .tools__img {
        flex: 0 0 100%;
        
    }

}